.env

venv/

__pycache__/
*.py[cod]

_cache/whisper/*
!_cache/whisper/.gitkeep

logs/*
!logs/.gitkeep

shared_audio/*
!shared_audio/.gitkeep

benchmark/audios/*
!benchmark/audios/.gitkeep

benchmark/text-references/*
!benchmark/text-references/.gitkeep

benchmark/plots/*
!benchmark/plots/.gitkeep

benchmark/results*